<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/5eff175192.js" crossorigin="anonymous"></script>
    <title>Progressive Overload</title>
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
<h3>Edit Workout</h3>
<div class="row">
    <form action="/workouts/<%- workouts._id %>" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="exercise" name="exercise" value="<%= workouts.exercise %>">
                <label for="exercise">Exercise name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="public" selected><%= workouts.status %></option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Notes:</h5>
                <textarea id="body" name="notes"><%= workouts.notes %></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js" integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>
<script>
    M.Sidenav.init(document.querySelector('.sidenav'));
    M.FormSelect.init(document.querySelector('#status'));

    CKEDITOR.replace('body', {
        plugins: 'wysiwygarea, toolbar, basicstyles, link'
    });
</script>

</body>
</html>