<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/5eff175192.js" crossorigin="anonymous"></script>
    <title>Progressive Overload</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <%- include('partials/add_btn') %>
    <div class="container">
        <h2 class="mt-4">Dashboard</h2>
        <p class="lead mb-3">Welcome <%= user.name %></p>
        <% if(workouts) { %>
<table class="striped">
    <thead>
        <tr>
            <th>Exercise</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% workouts.forEach(function(workout) { %>
        <tr>
            <td><a href="/workouts/<%- workout._id %>"><%= workout.exercise %></a></td>
            <td><%= formatDate(workout.date, 'MMMM Do YYYY, h:mm:ss a') %></td>
            <td><%= stripTags(truncate(workout.notes)) %></td>
            <td><span class="dash-status"><%= workout.status %></span></td>
            <td>
                <a href="/workouts/edit/<%- workout._id %>" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/workouts/<%- workout._id %>" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        <% }); %>
    </tbody>

    </table>
          <% } else{ %>  
            <h2>You have no workouts...</h2>
         <% } %>
         <br>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>    
    </div>     
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'));
        M.FormSelect.init(document.querySelector('#status'));
    </script>
</body>

</html>
